<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Demo Crud</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap CSS -->
	<link href="../static/css/bootstrap.css" rel="stylesheet"
		th:href="@{/css/bootstrap.css}">
</head>
<body>
    <div class="container">
		<br>
		<div>
			<a href="/Create" class="btn btn-primary">Agregar</a>
			<a href="/Xml" class="btn btn-success">Xml</a>
			<a href="/Json" class="btn btn-info">Json</a>
		</div>
		<h2 th:if="${empleados.isEmpty()}">No hay empleados</h2>
		<div th:if="${!empleados.isEmpty()}">
			<h2>Empleados</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Dpi</th>
						<th>Opciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="empleado : ${empleados}">
						<td th:text="${empleado.nombre}">
						<td th:text="${empleado.apellido}">
						<td th:text="${empleado.dpi}">
						<td><a class="btn btn-warning btn-sm" th:href="@{/Update/{id}(id=${empleado.id})}">Editar</a>
							<a class="btn btn-danger btn-sm" th:href="@{/Delete/{id}(id=${empleado.id})}">Eliminar</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>