<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Demo Crud</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap CSS -->
	<link href="../static/css/bootstrap.css" rel="stylesheet"
		th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>
		<h2>Actualizar Empleado</h2>
		<form action="#" th:action="@{/Edit}" th:object="${empleado}"
			method="post">
			<input type="hidden" id="Id" th:field="*{Id}" name="Id">
			<div class="form-group">
				<label for="Nombre">Nombre</label> 
				<input type="text" class="form-control" id="Nombre" th:field="*{Nombre}" 
					name="Nombre">
			</div>
			<div class="form-group">
				<label for="Apellido">Apellido</label> 
				<input type="text" class="form-control" id="Apellido" 
					th:field="*{Apellido}" name="Apellido">
			</div>

			<div class="form-group">
				<label for="Dpi">Dpi</label>
				<input type="text" class="form-control" 
					id="Dpi" th:field="*{Dpi}" name="Dpi">
			</div>
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
	</div>
</body>
</html>